{% extends "templates/base.html" %}

{% block active_tab %}
<li class="active"><a href="/">Home</a></li>
<li><a href="/info">Info</a></li>
{% endblock %}

{% block content %}
<h1 class="cover-heading">Summoner: {{ summonerName }}</h1>
<div class="row" id="champion info" >
    <div class="row">
        <p class="lead" id="cover-info">Enter champion name</p>
        <div class="col-md-6 col-md-offset-3">
            <form action="champion" method="get" id="champion-form">
                <div class="input-group">
					   <script type="text/javascript">
							$(document).ready(function() {
								$(".js-basic-single").select2({ 
								placeholder: "Select Champion", 
								allowClear: true,
								theme: "classic",
								width: '100%' 
								});
							});
						</script>
						<style>
						.select2-search__field {
							color: #333
						}
						
						.select2-results__options {
							color: #333
						}
						</style>
						<select class="js-basic-single" name="championName">
							<option></option>
							
							{% for champion in orderedChampionList %}
								<option value={{champion.1}}>{{champion.0}}</option>
							{% endfor %}
						</select>
                    <input type="hidden" name="summonerName" value={{summonerName}} />
                    <input type="hidden" name="region" value={{region}} />
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Submit">
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="top10 row">
    <h2 class="cover-heading">Top 10 Champion Mastery</h2>            
        <div class="col-md-12" id="champion-data">
            <!-- todo: clean up to a css -->
            <table class='table' style='border: 1px white;'>
                <tr>
                    <th style='text-align: center; background-color:#000000;\'></th>
                    <th style='width: 100px; text-align: center; background-color:#000000;'>Champion</th>
                    <th style='width: 100px; text-align: center; background-color:#000000;'>Mastery Level</th>
                    <th style='width: 100px; red; text-align: center; background-color:#000000;'>Mastery Points</th>
                    <th style='width: 100px; red; text-align: center; background-color:#000000;'>Points for level</th>
                    <th style='width: 100px; red; text-align: center; background-color:#000000;'>Games needed for level</th>
                    <th style='width: 100px; red; text-align: center; background-color:#000000;'>Games needed for level 5</th>
                </tr>
            {% for champion in championList|slice:":10" %}
                <tr>
                <td style='width: 100px;text-align:center; background-color:#000033;'><img src="{{ champion.championIcon}}" width="40" height="40"></td>
                {% for championKey in orderedChampionList %}
                    {% if champion.championName == championKey.0 %}
                        <td style='width: 100px; text-align:center; background-color:#000033;'><a href="/summoner/champion?summonerName={{summonerName}}&region={{region}}&championName={{ championKey.1 }}">{{ champion.championName }}</a></td>
                    {% endif %}
                {% endfor %}
                <td style='width: 100px; background-color:#000033; text-align: center;'>{{ champion.championLevel }}</td>
                <td style='width: 100px; background-color:#000033; text-align: center;'>{{ champion.championPoints }}</td>
                <td style='width: 100px; background-color:#000033; text-align: center;'>{{ champion.pointsUntilNextLevel }}</td>
                <td style='width: 100px; background-color:#000033; text-align: center;'>{{ champion.gamesNeededForNextLevel }}</td>
                <td style='width: 100px; background-color:#000033; text-align: center;'>{{ champion.gamesNeededForLevel5 }}</td>
                </tr>
            {% endfor %}
            </table><bg-helper></bg-helper>
        </div>
    </div>
</div>
{% endblock %}

