{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ChampionMasteryPlanner</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Custom styles for the cover template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/cover.css' %}" />

    <!-- javascript src -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Javscript functions -->
    <script src="{% static 'js/helper.js' %}"></script>
	  <link href="{% static 'css/helper.css' %}" rel="stylesheet" />
	<!-- Champion Search Bar suggestion -->
	<link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
	<script src="{% static 'js/select2.min.js' %}"></script>
	<!-- Slider for inputting Winrate -->
	<link href="{% static 'css/bootstrap-slider.css' %}" rel="stylesheet" />
	<script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
	<!-- Using Charts.js for the graphs -->
	<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
</head>

<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">Champion Mastery Planner</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                  {% block active_tab %}
                  {% endblock %}
                  <li><a href="https://github.com/jfseo/ChampionMasteryPlanner">Github</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover" style="">
          <div class="font-enhancement">
            {% block content %}
            {% endblock %}
        </div>
        </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Submission for Riot API Contest, by <b>Albert & Seo </b></p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>

</html>
