{% extends "templates/base.html" %}

{% block active_tab %}
<li class="active"><a href="/">Home</a></li>
<li><a href="/info">Info</a></li>
{% endblock %}

{% block content %}
<h1 class="cover-heading">Summoner: <b>{{ summonerName }}</b></h1>
<div class="row" id="champion info" >
    <div class="row">
        <p class="lead" id="cover-info">Select Champion below</p>
        <div class="col-md-12 col-md-offset-3" align="center">
            <form action="" method="get" id="champion-form">
                <div class="input-group">
                    <!--<input type="text" class="form-control" placeholder="champion name" name="championName" required value=""> -->
					   <script type="text/javascript">
							$(document).ready(function() {
								$(".js-basic-single").select2({ 
								placeholder: "Select Champion", 
								allowClear: true,
								theme: "classic",
								width: "480px"
								});
							});
						</script>
						<style>
						.select2-search__field {
							color: #333;
						}
						
						.select2-results__options {
							color: #333;
						}
						
						.select2-container--classic .select2-selection--single .select2-selection__placeholder {
							color: #333;
						}

						</style>
						<select class="js-basic-single" name="championName" onchange="this.form.submit();">
							<option></option>
							
							{% for champion in orderedChampionList %}
								<option value={{champion.1}}>{{champion.0}}</option>
							{% endfor %}
							
						</select>
						<!-- <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Submit" required value="">
						</span> -->
                    <input type="hidden" name="summonerName" value={{summonerName}} />
                    <input type="hidden" name="region" value={{region}} /> 
                    
					  
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <h2 class="cover-heading">Champion Mastery: <b>{{ champion.championName }}</b></h2>
        <div class="col-md-6">
            <img src="{{ championImage }}" alot="champion image" width='400px' height='325px' class = "avatar">
            <h4><span class="label label-primary">{{ championName }}: {{ champion.championTitle }}</span></h4>
        </div>
        <div class="col-md-6">
            <div class="transbox">
                <h3>Champion mastery details:</h3>
                <ul>
                    <li><h4 class="text-left">Mastery Level: <b>{{ champion.championLevel }}</b></h4></li>
                    <li><h4 class="text-left">Mastery Points: <b>{{ champion.championPoints }} CP</b></h4> </li>
                    <li><h4 class="text-left">Points needed until next level: <b>{{ champion.pointsUntilNextLevel }} CP</b></h4></li>
                    <li><h4 class="text-left">Games needed until next level: <b id="games-needed">{{ champion.gamesNeededForNextLevel }}</b></h4></li>
                    <li><h4 class="text-left">Games needed until level 5: <b id ="games-needed-5">{{ champion.gamesNeededForLevel5 }}</b></h4></li>
                    <li><h4 class="text-left">Hextech chest availability: <b>{{ champion.chestAvailability }}</b></h4></li>
                    <li><h4 class="text-left">Season Highest Grade: <b>{{ champion.highestRank }}</b></h4></li>
                </ul>
            </div>
        </div>
        <form role="form">
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <label for="winRate">Select Win Rate: <span id="winRateVal">50</span></label>
                    <input id="winRate" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="50" data-slider-id="winRate"/>
                    <style>
                        #winRate .slider-selection {
                            background: #BABABA;
                        }
                    </style>            
                    <script>
                            $("#winRate").slider();
                            $("#winRate").on("slide", function(slideEvt) {
                                $("#winRateVal").text(slideEvt.value);
                                document.getElementById("games-needed").innerHTML = gamesRequired({{champion.championPoints}},{{champion.championPoints}}+{{champion.pointsUntilNextLevel}}, slideEvt.value/100);
                                document.getElementById("games-needed-5").innerHTML = gamesRequired({{champion.championPoints}},{{championMasteryFor5}},slideEvt.value/100);
                                if (document.getElementById("estimation-info").style.display != "none")
                                {
                                    showEstimation();
                                }
                            });
                    </script>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <form action="javascript:showEstimation()" role="form-inline">
            <div class="form-group">
                <div class="col-md-9">
                    <label for="pointsDesired" class="col-md-6 col-md-offset-2 control-label">Enter Number of Champion Points Desired:</label>
                    <div class="col-md-3">
                        <input style='width:100%;height:25px' id="pointsDesired" type="number" placeholder="1000000" class="col-md-3 col-md-pull-1 form-control" required value=""/>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Estimate!</button>
                </div> 
            </div>
        </form>
    </div>
    <div class="row">
        <div class="transbox">
            <h4 id="estimation-default" style="display:block">
            Please enter number of points and click the "Estimate!" button to <i>estimate</i> :)
            </h4>
            <h4 id="estimation-info" style="display:none">
            </h4>

        </div>
        <script>
            function showEstimation() {
                var currentPoints = {{ champion.championPoints }};
                var desiredPoints = document.getElementById("pointsDesired").value;
                var winRate = document.getElementById("winRateVal").innerHTML;
                var gamesNeeded = gamesRequired(currentPoints,desiredPoints,winRate/100);
                var avgGameTime = 35
                var minutesNeeded = minutesRequired(gamesNeeded,avgGameTime)
                document.getElementById("estimation-info").innerHTML = "At <u>" + winRate +"</u>% Win ratio, you need to play approximately <u>" + gamesNeeded + "</u> games (~<u>" + minutesNeeded + "</u> minutes) to acquire <u>" + desiredPoints + "</u> Champion Points";
                if (document.getElementById("estimation-default").style.display == "block")
                {
                    document.getElementById("estimation-default").style = "display:none";
                }
                document.getElementById("estimation-info").style = "display:block";
            }
        </script>
    </div>
</div>
{% endblock %}